using UnityEngine;

public class PlayerController : MonoBehaviour
{
    private float screenBottomLimit;
    private float screenTopLimit;

    private void Start()
    {
        screenBottomLimit = Screen.height / 2f;
        screenTopLimit = Screen.height;
    }

    private void Update()
    {
        Vector3 currentPosition = Camera.main.WorldToScreenPoint(transform.position);
        if (currentPosition.y > screenTopLimit)
        {
            transform.position = new Vector3(transform.position.x, screenBottomLimit, transform.position.z);
        }
        else if (currentPosition.y < screenBottomLimit)
        {
            transform.position = new Vector3(transform.position.x, screenTopLimit, transform.position.z);
        }
        // Add code for the player's left and right movement here
    }
}
